# Midas Internship Assignment

## Problem 1: Python_Problem

## Problem Statement: 
You have to write a python script which can fetch all the tweets(as many as allowed by Twitter API) done by midas@IIITD twitter handle and dump the responses into JSONlines file. 
The other part of your script should be able to parse these JSONline files to display the following for every tweet in a tabular format. 
- The text of the tweet.
- Date and time of the tweet.
- The number of favorites/likes.
- The number of retweets.
- Number of Images present in Tweet. If no image returns None.

### import required libraries 
- json/jsonlines: for saving and loading the data
- pandas: for table formatting
- tweepy: for accessing Twitter API

In [24]:
import tweepy
from tweepy import OAuthHandler
import json
import jsonlines
import pandas as pd
from pandas import DataFrame

### Authentication for access of Twitter API

- Keys have been removed

In [25]:
consumer_key = '******'
consumer_secret = '******'
access_key = '******'
access_secret = '******'

In [26]:
auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)

In [27]:
api = tweepy.API(auth)

### Storing the tweets

This function is for storing the tweets in the jsonlines file (output.jsonl)

In [28]:
data = []
def storeTweets(tweet):
    with open('output.jsonl', 'a') as outfile:
        json.dump(tweet,outfile)
        outfile.write('\n')

### Mine the Tweets

This function is used for mining the tweets according to the given username/twitter handle and stores them in the json file

In [29]:
def mineTweets(username):
    tweets = api.user_timeline(screen_name=username)
    for tweet in tweets:
        storeTweets(tweet._json)

In [30]:
mineTweets('midasIIITD')

## Sneak peak through jsonlines files
Viewing the output.jsonl file

In [37]:
data=[];
with jsonlines.open('output.jsonl') as reader:
    for obj in reader:
        data.append(obj)

# Calculating the number of tweets

Using Cursor function to calculate the total number of tweets. 
(Another method could also be used, but this is the simplest)

In [38]:
iterator = tweepy.Cursor(api.user_timeline,
                         screen_name='@midasIIITD').items()
data = [status._json for status in iterator]

print(f"Number of Tweets: {len(data)}\n")

Number of Tweets: 344

### Most important part, collecting the important information

Making a list(info) which contains all information related to the text, date and time of tweet, number of likes, no. of retweets and number of images present

- If the tweet is a retweet, make the datapoint to the original tweet. 

- To extract and count the number of images/photos, I have used 'extended_entities' key for media. (Given in Twitter Developer Doc)
https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/extended-entities-object)
    
- From the output.jsonl file, we see that the text, time/date of tweet, number of likes, number of retweets can all be extracted using ['text'], ['created_at'], ['favourite_count'], ['retweet_count'] options

-
- Naming the columns for the table accordingly

In [39]:
info = []
for datatweet in data:
    try:
        datatweet = datatweet['retweeted_status']
    except KeyError:
        pass
    
    try:
        image_count = sum(m['type'] in ('photo') for m in datatweet['extended_entities']['media'])
    except KeyError:
        image_count = "None"
    
    # create the entry with the required information
    entry = {
        'Text': datatweet['text'], 
        'Date and Time of Tweet': datatweet['created_at'], 
        'No. of favorites/likes': datatweet['favorite_count'], 
        'No. of retweets': datatweet['retweet_count'], 
        'No. of images present': image_count 
    }
    
    # save the entry
    info.append(entry)

print(f"Number of Entries: {len(info)}\n")

Number of Entries: 344

### Displaying the information in the table using DataFrame by Pandas

In [40]:
df = pd.DataFrame.from_dict(info, orient='columns')
df

,Date and Time of Tweet,No. of favorites/likes,No. of images present,No. of retweets,Text
0,Wed Apr 10 09:01:29 +0000 2019,0,None,0,Clarification: Our earlier post which indicate...
1,Wed Apr 10 04:28:24 +0000 2019,3,None,1,Applications open for MTech (CB) through JNU C...
2,Tue Apr 09 09:03:12 +0000 2019,60,None,14,We are delighted to share that IIIT-Delhi is r...
3,Mon Apr 08 20:10:01 +0000 2019,99,None,36,"Professor Jelani Nelson founded AddisCoder, a ..."
4,Mon Apr 08 17:35:00 +0000 2019,38,None,17,For anyone interested in submitting to EMNLP 2...
5,Mon Mar 18 06:40:38 +0000 2019,20,None,15,Announcing the 2019 MediaEval multimedia tasks...
6,Mon Apr 08 07:08:12 +0000 2019,18,None,2,"Many Congratulations to @midasIIITD student, S..."
7,Mon Apr 08 03:27:42 +0000 2019,5,None,0,@midasIIITD thanks all students who have appea...
8,Sun Apr 07 14:17:29 +0000 2019,0,None,0,"@himanchalchandr Meanwhile, complete CV/NLP ta..."
9,Sun Apr 07 14:17:09 +0000 2019,0,None,0,@sayangdipto123 Submit as per the guideline ag...
10,Sun Apr 07 11:43:24 +0000 2019,1,None,1,We request all students whose interview are sc...
11,Sun Apr 07 06:55:19 +0000 2019,5,None,2,"Other queries: ""none of the Tweeter Apis give ..."
12,Sun Apr 07 06:53:38 +0000 2019,4,None,1,"Other queries: ""do we have to make two differe..."
13,Sun Apr 07 05:32:27 +0000 2019,6,None,1,"Other queries: ""If using Twitter api, it does ..."
14,Sun Apr 07 05:29:40 +0000 2019,7,None,1,Response to some queries asked by students on ...
15,Sat Apr 06 17:01:00 +0000 2019,21,None,2,Top 8 #Free Must-Read #Books on #DeepLearning ...
16,Sat Apr 06 16:43:27 +0000 2019,18,None,3,@nupur_baghel @PennDATS Congratulation @nupur_...
17,Fri Apr 05 16:08:37 +0000 2019,11,None,1,We have emailed the task details to all candid...
18,Thu Apr 04 20:44:40 +0000 2019,49,None,16,Our NAACL paper on polarization in language on...
19,Fri Apr 05 04:00:11 +0000 2019,21,1,11,Effective Transfer Learning For NLP https://t....
20,Wed Apr 03 17:07:30 +0000 2019,226,None,59,What’s new in @Stanford CS224N Natural Languag...
21,Wed Apr 03 12:38:17 +0000 2019,2423,None,873,Today we're releasing a large-scale extendable...
22,Wed Apr 03 06:01:47 +0000 2019,151,None,16,Congratulations Jitendra Malik !\n\nAwards are...
23,Wed Apr 03 07:42:27 +0000 2019,4,None,4,Another chance to take admission in the Ph.D. ...
24,Tue Apr 02 04:20:13 +0000 2019,8,None,1,Dear @midasIIITD internship candidates who hav...
25,Tue Apr 02 02:44:54 +0000 2019,5,None,1,Looking forward to your paper submission to @I...
26,Mon Apr 01 16:21:54 +0000 2019,9,None,7,Reproducibility in multimedia research in @sig...
27,Mon Apr 01 06:53:08 +0000 2019,7,None,2,Online application for https://t.co/DJFDrQsHZP...
28,Tue Mar 26 10:37:36 +0000 2019,12,None,10,A final reminder of the Reproducibility Track:...
29,Fri Mar 29 18:45:35 +0000 2019,7,None,2,Thanks for the support and help @debanjanbhucs...
...,...,...,...,...,...
314,Wed Aug 08 23:30:00 +0000 2018,567,None,265,TensorFlow 1.10.0 has been released! Please se...
315,Wed Aug 08 11:30:56 +0000 2018,2,None,1,@midasIIITD is looking for motivated IIITD MTe...
316,Wed Aug 08 05:53:48 +0000 2018,3,1,1,@IIITDelhi @ponguru @RatnRajiv The results of ...
317,Wed Aug 08 05:16:13 +0000 2018,6,None,1,@midasIIITD has secured rank 1 in the IRMiDis ...
318,Tue Aug 07 06:00:29 +0000 2018,88,1,40,Comparison of Top 6 Python NLP Libraries https...
319,Tue Aug 07 02:05:12 +0000 2018,1,None,1,Check more details of the 20th IEEE Internatio...
320,Tue Aug 07 01:58:49 +0000 2018,1,None,1,MR2AMC@ISM 2018 will be organized by @RatnRaji...
321,Tue Aug 07 01:50:33 +0000 2018,1,None,1,"Our workshop proposal named, ""MR2AMC: Multimod..."
322,Mon Aug 06 17:48:23 +0000 2018,0,None,0,@NUSComputing Congratulations Abdelhak and Pro...
323,Mon Aug 06 16:10:28 +0000 2018,423,1,103,One of the most anticipated GAN names now take...
324,Mon Aug 06 06:06:47 +0000 2018,0,None,0,@the_dhumketu Great to have you in @midasIIITD
325,Fri Aug 03 05:56:33 +0000 2018,6,None,1,Congratulation @soujanyaporia for being appoin...
326,Wed Aug 01 11:47:15 +0000 2018,5,1,1,@IIITDelhi @the_dhumketu Thanks team @midasIII...
327,Wed Aug 01 09:04:10 +0000 2018,7,None,4,Congratulations @midasIIITD intern @the_dhumke...
328,Tue Jul 31 20:24:51 +0000 2018,4,None,4,Profile of the 5 Indian undergrads admitted to...
329,Tue Jul 31 12:11:52 +0000 2018,1,None,0,Have a look at the list of accepted papers in ...
330,Tue Jul 31 01:41:23 +0000 2018,756,None,264,https://t.co/hYiWI7ntyk TensorFuzz automates t...
331,Mon Jul 30 04:13:38 +0000 2018,14,None,2,Congratulations Dr. @RatnRajiv and team @midas...
332,Fri Jul 27 04:15:02 +0000 2018,218,None,57,"Jitendra Malik, who directs FAIR-Menlo Park, t..."
333,Wed Jul 18 21:20:04 +0000 2018,225,None,105,".@Bloomberg launches free course ""Foundations..."
334,Thu Jul 19 16:15:04 +0000 2018,7,None,7,Missed #PyLondinium18? Watch the videos of the...
335,Wed Jul 18 05:53:23 +0000 2018,36,None,6,We are delighted to announce that @IIITDelhi h...
336,Fri Jul 27 06:46:44 +0000 2018,3,None,2,Get ready for the annual technical fest of @II...
337,Fri Jul 27 04:07:31 +0000 2018,8,None,2,Congratulations Dr. @RatnRajiv and team @midas...
338,Wed Jul 25 05:14:35 +0000 2018,5,None,1,Congratulations MIDAS @midasIIITD intern Prakh...
339,Tue Jul 24 10:33:23 +0000 2018,2,None,1,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm
340,Tue Jul 24 10:12:34 +0000 2018,2,None,1,It feels great to be the part of @IIITDelhi. h...
341,Tue Jul 24 09:46:26 +0000 2018,4,1,1,"Thank you, @toonzratn for designing the logo o..."
342,Mon Jul 23 16:25:05 +0000 2018,3,None,1,We are on Facebook too. Like our page to get o...
343,Mon Jul 23 12:53:15 +0000 2018,7,None,4,MIDAS is a group of researchers at IIIT-Delhi ...